@font-face {
  font-family: MSSansSerif;
  src: url("MS\ Sans\ Serif\ 8pt.ttf");
}
body {
  overflow: hidden;
  background-color: #300350;
  background-size: 75px 75px;
  background-image: linear-gradient(to right, #ff71ce 1px, transparent 1px),
    linear-gradient(to bottom, #ff71ce 1px, transparent 1px);
  font-family: MSSansSerif;
  margin: 0;
  transform-origin: top left;
}
h1 {
  font-size: 80px;
  margin: 0 0 -15px 0;
  text-transform: uppercase;
  z-index: 1;
  color: white;
  filter: drop-shadow(5px 5px #ffffff44);
  font-family: "Press Start 2P", cursive;
  overflow: hidden;
  filter: blur(3px);
  animation: track 5ms infinite, blur 30ms infinite, flick 50ms infinite,
    jump 50ms infinite;
  text-shadow: 1px 3px green, -2px -3px red;
}
.section {
  background: #1d1d2fee;
  border-radius: 25px;
  box-shadow: 3px 3px #ffffff44;
  color: rgb(240, 229, 248);
  padding: 25px;
  margin-top: 25px;
  width: 50%;
}
@keyframes blur {
  0% {
    filter: blur(1px);
    opacity: 0.8;
  }
  50% {
    filter: blur(1px);
    opacity: 1;
  }
  100% {
    filter: blur(1px);
    opacity: 0.8;
  }
}
@keyframes flick {
  50% {
    left: 2px;
  }
  51% {
    left: 0;
  }
}
@keyframes jump {
  30% {
    top: 10px;
  }
  31% {
    top: 0;
  }
}
@keyframes track {
  40% {
    opacity: 1;
    top: 0;
    left: 0;
    transform: scale(1, 1);
    transform: skew(0, 0);
  }
  41% {
    opacity: 0.8;
    top: 0px;
    left: -100px;
    transform: scale(1, 1.2);
    transform: skew(50deg, 0);
  }
  42% {
    opacity: 0.8;
    top: 0px;
    left: 100px;
    transform: scale(1, 1.2);
    transform: skew(-80deg, 0);
  }
  43% {
    opacity: 1;
    top: 0;
    left: 0;
    transform: scale(1, 1);
    transform: skew(0, 0);
  }
}
#serviceFrameSend {
  position: absolute;
  left: 140px;
  height: 173px;
  width: 214px;
  top: 51px;
  transform: perspective(516px) rotateY(4.5deg) skew(-0.4deg, -3.5deg);
  -webkit-transform: perspective(516px) rotateY(4.5deg) skew(-0.4deg, -3.5deg);
}
@media screen and (max-width: 450px) {
  .tv {
    transform: scale(0.8) translateX(-5%);
  }
  .wrapper {
    flex-direction: column !important;
    align-items: stretch !important;
    flex-wrap: nowrap !important;
  }
  .container-thin {
    width: auto !important;
  }
  .container {
    max-width: 100% !important;
  }
}
@media screen and (max-width: 375px) {
  .tv {
    transform: scale(0.5) translateX(-5%);
  }
}
img#computer {
  z-index: 9999;
  position: relative;
  filter: drop-shadow(2px 4px 6px black);
}
.window-border {
  border-color: #ffffff #808080 #808080 #ffffff;
  border-width: 2px;
  border-style: solid;
}
.container {
  background: #cccccc;
  margin: 30px;
}
.container-header {
  display: flex;
  align-items: center;
  padding: 3px;
  background: linear-gradient(90deg, #55e0ff, #d67fff);
  flex-direction: row;
  justify-content: space-between;
}
.header-title {
  display: flex;
  align-items: center;
  gap: 0 3px;
}
.header-title > span {
  position: relative;
  top: 1px;
}
.menu-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.maximize:after,
.maximize:before {
  content: "";
  width: 0.3rem;
  border: 2px solid black;
  border-top: 3px solid black;
  background: #c0c0c0;
  height: 0.25rem;
  top: 6px;
  position: absolute;
  left: 2px;
  z-index: 2;
}
.maximize:before {
  top: 2px;
  left: 6px;
  z-index: 1;
  width: 0.3rem;
}
.minimize:before {
  content: "";
  background: black;
  width: 7px;
  position: relative;
  top: 4px;
  height: 3px;
}
.menu-buttons > div {
  background: #c0c0c0;
  width: 1.2rem;
  height: 1.2rem;
  font-family: "Arial Black", sans-serif;
  box-sizing: border-box;
  font-size: 0.75rem;
  position: relative;
  color: black;
  line-height: 1rem;
  margin: 0 0 0 0.55rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
img.bullet {
  height: 24px;
}
.container-body {
  padding: 5px;
}
.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 5px;
}
.separated-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px 10px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}
.bullet-icon {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  min-width: 60px;
  gap: 2px;
}
.icon-before {
  display: flex;
  gap: 10px;
  align-items: center;
}
.outside-items {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  padding: 5px;
  overflow: auto;
}
.projects {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}
.projects a {
  line-height: 1.2em;
}
.container-thin {
  width: 200px;
}
.search-bar {
  background: white;
  padding: 6px;
  border-color: #808080 #c0c0c0 #c0c0c0 #808080;
  border-width: 2px;
  border-style: solid;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 5px;
  margin: 3px;
}

.file-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3px;
}
.file-item > img {
  width: 48px;
}
.container-body-white {
  background: white;
  border-color: #808080 #c0c0c0 #c0c0c0 #808080;
  border-width: 2px;
  border-style: solid;
  display: flex;
  flex-direction: row;
  margin: 3px;
  gap: 15px;
}
